%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%%
%% etc/app.config
%%
{ring_state_dir,    "data/ring"}.
{web_ip,            "127.0.0.1"}.
{web_port,          10128}.
{handoff_port,      10129}.

%%
%% etc/vm.args
%%
{node,         "pingapp2@127.0.0.1"}.
{cookie, "pingapp"}.

